.NotificationsModal {
    height: 100%;
    margin: 0 5%;
    ion-list-header {
        ion-label {
            font-size: 2em;
        }
        .closeBtn {
            font-size: 1.3em;
        }
    }
    ion-content {
        padding: 2%;
        ion-list {

            ion-item {
                ion-card {
                    h3 {

                    }
                }
            }
        }
    }
}