ion-header {
    ion-toolbar {
        padding: 0 2%;
        ion-button {
            ion-icon {
                font-size: 24px;

            }
        }
        ion-title {
            font-size: 25px;
            text-align: center;
            line-height: 20px;
        }
        .div {
            ion-badge{
                position: absolute;
                width: 10%;

                bottom: 0;
            }
        }
        img {
            max-width: 60px;
        }
    }
}
