<ion-content>
  <div class="main">
    <ion-card class="vos-objectif">

      <div class="box-objectif" >
        <h4>Vos challenges actifs :</h4>
        <div class="loading" *ngIf="isLoadingChallenges">
          <ion-spinner type="dots"></ion-spinner>
        </div>
        <div *ngIf="!isLoadingChallenges">
          <div class="empty" *ngIf="challenges.length === 0">
            <p>Vous n'avez aucun challenges en cours</p>
          </div>
  
          <div class="module-objectif" *ngFor="let challenge of challenges">
            <div class="bar-objectif">
              <div class="bar-progress" [style.backgroundColor]="todaySteps >= challenge.goal ? '#0f0' : todaySteps >= (challenge.goal / 2) ? '#f90' : '#D73E3E'" [style.width]="(todaySteps*100/challenge.goal) + '%'"></div>
              <div class="txt-bar">
                <ion-icon *ngIf="challenge.type === 'step'" name="footsteps-outline"></ion-icon>
                <ion-icon *ngIf="challenge.type === 'cigarettes'" name="footsteps-outline"></ion-icon>
                <p>{{challenge.goal}}/jours</p>
              </div>
            </div>
            <!-- <button class="btn-defobjectif">Definir Objectif</button> -->
            <ion-icon name="share-social-outline"></ion-icon>
            <ion-icon name="close-outline" (click)="surrendObjectif(challenge.id)" *ngIf="todaySteps !== challenge.goal">
  
            </ion-icon>
            <ion-icon name="close-outline" (click)="surrendObjectif(challenge.id)" *ngIf="todaySteps === challenge.goal">
  
            </ion-icon>
  
          </div>
        </div>
       

      </div>

      <div class="actionBar" *ngIf="challenges.length < 3 && !isLoadingChallenges">
        <ion-button>ajouter un Objectif</ion-button>
        <ion-button (click)="randomObjectif()">Objectif Aleatoire</ion-button>
      </div>

    </ion-card>
    <ion-card class="section-histo">
      <div class="box-histo">
        <h4>Historique de vos objectifs</h4>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="seemore">
          <button class="btn-seemore">Voir plus</button>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>