ion-content {
    font-family: dongle-light !important;
    ion-card.vos-objectif {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    ion-card.section-histo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}
.main > h3 {
    font-family: dongle-regular !important;
    font-size: 24px;
    text-align: center;
}
.vos-objectif {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.actionBar {
    display: flex;
    justify-content: space-around;
}
.box-objectif {
    // background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box-objectif h4 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.module-objectif {
}
.bar-objectif {
    display: flex;
    // background-color: #B5B5B5;
    background-color: var(--ion-item-background);
    border-radius: 10px;
    justify-content: right;
    margin-bottom: 5px;
    width: 275px;
    height: 32px;
    align-items: center;
}
.bar-objectif p {
    font-family: dongle-regular !important;
    font-size: 18px;
}
.txt-bar {
    text-align: center;
}
.btn-defobjectif {
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #7480ff;
    height: 18px;
    width: 106px;
}
.module-objectif button {
    justify-content: center;
}
.btn-addobjectif {
    border-radius: 8px;
    background-color: #7480ff;
    height: 18px;
    width: 106px;
}
.addobjectif {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
//
.section-histo {
}
.box-histo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

.box-histo h3 {
    margin-top: 0px;
    font-family: dongle-regular !important;
    margin-bottom: 0px;
}
.bar-histo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.bar-histo img {
    width: 19.5px;
    height: 21.58px;
    margin-top: 3px;
    margin-left: 10px;
}
.sousbar-histo {
    display: flex;
    background-color: var(--ion-item-background);

    border-radius: 10px;

    width: 233px;
    height: 26px;
    justify-content: space-around;
    align-items: center;
    // flex: 1;
}
.sousbar-histo p {
    font-size: 18px;
}
.seemore {
    display: flex;
    justify-content: center;
}
.btn-seemore {
    border-radius: 8px;
    // background-color: #7480FF;
    width: 71px;
    height: 18px;
    color: #ffff;
}
