<ion-content>
  <div class="main">
    <h3>Vos objectif :</h3>
    <ion-card class="vos-objectif">
      <div class="box-objectif">
        <h4>Vos objectif :</h4>
        <div class="module-objectif">
          <div class="bar-objectif">
            <img src="" alt="">
            <div class="txt-bar">
              <p>10 000/jours</p>
            </div>

          </div>
          <button class="btn-defobjectif">Definir Objectif</button>
          <img class="partager" src="" alt="">
        </div>
        <div class="module-objectif">
          <div class="bar-objectif">
            <img src="" alt="">
            <p>10 000/jours</p>
          </div>
          <button class="btn-defobjectif">Definir Objectif</button>
          <img class="partager" src="" alt="">
        </div>
        <div class="module-objectif">
          <div class="bar-objectif">
            <img src="" alt="">
            <p>10 000/jours</p>
          </div>
          <button class="btn-defobjectif">Definir Objectif</button>
          <img class="partager" src="" alt="">
        </div>
        <div class="addobjectif">
          <button class="btn-addobjectif">ajouter un Objectif</button>
        </div>
      </div>
    </ion-card>
    <ion-card class="section-histo">
      <div class="box-histo">
        <h3>Historique de vos objectif</h3>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="seemore">
          <button class="btn-seemore">Voir plus</button>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>