
<ion-content>
  <div class="container">
    <div class="profile">
      <p>Mon Profil</p>
    </div>
      <div class="image">
        <img src="https://picsum.photos/250/250" alt="">
        <p>Nom - Prenom</p>
        <p class="bordered">Highlighted badges</p>
        <p class="info-link"><a href="#">Mes badges</a></p>
      </div>
      <div class="infos">
        <p>Records : </p>
        <p>Pas : </p>
        <p class="bordered">Moyenne de cigarettes fumées par jour : </p>
        <p>Jours sans cigarette : </p>
        <p class="info-link"><a href="#">Changer mon mot de passe</a></p>
        <p class="info-link"><a href="#">Changer mon adresse mail</a></p>
      </div>
  </div>
  
</ion-content>
