.container {
    .back {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
    }
    background-color: #00324b;
    color: #fff;
    font-family: "Dongle", sans-serif;
    font-size: 1.5em;
    line-height: 12px;
    padding-bottom: 20px;
    h2 {
        padding-top: 20px;
        font-size: 30px;
        text-align: center;
    }
    form {
        background-color: #063953;
        width: 90%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        .one-input {
            margin: auto;
            margin-left: 30px;
            input {
                background-color: #002537;
                border-radius: 5px;
                border: none;
                display: block;
                width: 90%;

                &:focus {
                    outline: none;
                }
            }
        }
        button {
            width: 60%;
            display: block;
            border-radius: 10px;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            font-size: 1.1em;
            padding: 5px 0 5px 0;
            background-color: #00324b;
            color: #fff;
        }
    }
}
