<ion-content>
  <div class="main">
    <h3>Nom Objectif</h3>
    <section class="empty_obj">
      <div class="box_obj">
        <p>Vous n’avez pas d’objectif pour le moment. Lancez vous !</p>
        <button class="btn_emptyobj">Définir Objectif</button>
      </div>
    </section>
    <section class="txt-exp">
      <h4>Pourquoi se fixer des Objectif</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales elit facilisi consectetur nisi. Varius ipsum,
        odio ultricies nisl imperdiet sem sollicitudin vel. Phasellus placerat urna vestibulum velit, eget scelerisque
        ipsum, amet. Mauris nulla urna eget sed tincidunt nulla sed a.</p>
    </section>
  </div>

</ion-content>