.container {
    height: 100%;

    padding: 4% 2%;
    color: var(--ion-text-color);
    font-family: "Dongle", sans-serif;
    font-size: 1.5em;
    line-height: 12px;
    .back {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
    }
    h2 {
        padding-top: 20px;
        font-size: 30px;
        text-align: center;
    }
    form {
        background-color: var(--ion-item-background);
        width: 90%;
        margin: auto;
        padding: 6% 4% 6% 4%;
        .errors {
            background-color: #f00 !important;
            padding: 1% 0;
            text-align: center;
            p{

            }
        }
        ion-item {
            line-height: 45px;
            ion-label {
                font-size: 1.5em;
            }
            ion-input {
                display: block;
                width: 90%;
                .native-input {
                    margin: auto;
                    background-color: #fff;
                }
            }
        }
        ion-button {
            width: 60%;
            border-radius: 10px;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            font-size: 1em;
            padding: 5px 0 5px 0;
        }
    }
}
