<ion-footer>
  <ion-toolbar>
    <ion-nav-link>

      <div class="Home Nav">
        <ion-icon name="home-outline" (click)="navigate('/home')"></ion-icon>
        <div class="activeRoute" *ngIf="currentPage === '/home'">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="Objectifs Nav">
        <ion-icon name="rocket-outline" (click)="navigate('/objectifs')"></ion-icon>
        <div class="activeRoute" *ngIf="currentPage === '/objectifs'">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      

      <div class="Profile Nav">
        <img class="userProfile" (click)="navigate('/profile')" src="https://robohash.org/azeertytyukcgcc" alt=""
        slot="end">
        <div class="activeRoute" *ngIf="currentPage === '/profile'">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>


      <ion-icon name="bar-chart-outline" (click)="navigate('/home')"></ion-icon>
      <div class="notifications">
        <ion-icon (click)="openNotificationsModal()" name="notifications-outline" slot="end"></ion-icon>
        <ion-badge color="danger">0</ion-badge>
      </div>

    </ion-nav-link>
  </ion-toolbar>
</ion-footer>