ion-footer {
    ion-nav-link {
        display: flex;
        justify-content: space-around;
        ion-icon {
            font-size: 28px;
        }
        .Nav {
            position: relative;
        }
        .activeRoute {
            display: flex;
            justify-content: space-around;
            position: absolute;
            width: 100%;
            bottom: 10%;
            .dot {
                background-color: #ffffff;
                width: 2px;
                height: 2px;
            }
        }
        .notifications {
            position: relative;
            max-height: 32px;
            ion-icon {
                font-size: 32px;
            }
            ion-badge {
                padding: 0;
                position: absolute;
                bottom: 0;
                right: 1px;
                border-radius: 100px;
                color: #eb445a;
                height: 12px;
                width: 12px;
            }
        }
        img {
            background-color: var(--ion-text-color);
            border-radius: 100px;
            max-width: 32px;
        }
    }
}
