ion-footer {
    ion-toolbar {
        ul {
            display: flex;
            justify-content: space-around;
            li {
                ion-icon {
                    font-size: 32px;
                }
                img {
                    background-color: black;
                    border-radius: 100px;
                    max-width: 32px;
                }
            }
        }
    }
}