<ion-content>
  <div class="main">
    <h3>Nom Objectif</h3>
    <section class="graph">
      <div class="graph-box">
        
      </div>
    </section>
    <section class="section-histo">
      <div class="box-histo">
        <h3>Historique de vos objectif</h3>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="bar-histo">
          <div class="sousbar-histo">
            <p>Cette semaine</p>
            <p>5/jours</p>
            <p>En cours</p>
          </div>
          <img class="partager" src="../../../assets/icon/favicon.png" alt="">
        </div>
        <div class="seemore">
          <button class="btn-seemore">Voirs plus</button>
        </div>
      </div>
    </section>
    <section class="txt-exp">
      <h4>Pourquoi se fixer des Objectif</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales elit facilisi consectetur nisi. Varius ipsum,
        odio ultricies nisl imperdiet sem sollicitudin vel. Phasellus placerat urna vestibulum velit, eget scelerisque
        ipsum, amet. Mauris nulla urna eget sed tincidunt nulla sed a.</p>
    </section>
  </div>
</ion-content>
